@using MobileTracker.Models
@model GpsMapTimeSelect

@{
    ViewBag.Title = "Detail";
}

<h2>Zařízení</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Device.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Device.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Device.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Device.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Device.Imei)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Device.Imei)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Device.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Device.PhoneNumber)
        </dd>

    </dl>
</div>
<hr />
@using (Html.BeginForm("MapDateInterval", "Gps", FormMethod.Post, new { id = "mapDateInterval" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.DeviceId)
    @Html.TextBoxFor(model => model.TimeFrom, new { @style = "visibility: hidden; height: 0; float: left; width: 0;" })
    @Html.TextBoxFor(model => model.TimeTo, new { @style = "visibility: hidden; height: 0; float: left; width: 0;" })
    <h4>Zobrazit na mapě období</h4>
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <div class='col-md-8'>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.TimeFrom)
                </div>
                <div class='col-md-4 input-group date' id='datetimepickerFrom'>
                    <input type='text' name="timeFromString" class="form-control" onclick="$('#datetimepickerFrom').data('DateTimePicker').show()" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="col-md-4">@Html.ValidationMessageFor(model => model.TimeFrom)</div>
            </div>
        </div>
        <div class="form-group">
            <div class='col-md-8'>
                <div class='col-md-2'>
                    @Html.LabelFor(model => model.TimeTo)
                </div>
                <div class='col-md-4 input-group date' id='datetimepickerTo'>
                    <input type='text' name="timeToString" class="form-control" onclick="$('#datetimepickerTo').data('DateTimePicker').show()" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class='col-md-4'>
                    @Html.ValidationMessageFor(model => model.TimeTo)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class='col-md-8'>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <input type="submit" value="Zobrazit" class="btn btn-default" />
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepickerFrom').datetimepicker({ language: "cs" });
                $('#datetimepickerTo').datetimepicker({ language: "cs" });
                $("#datetimepickerFrom").on("dp.change", function (e) {
                    $('#datetimepickerTo').data("DateTimePicker").setMinDate(e.date);
                    var date = new Date(e.date.toString());
                    $('#TimeFrom').val(date.getTime() / 1000);
                });
                $("#datetimepickerTo").on("dp.change", function (e) {
                    $('#datetimepickerFrom').data("DateTimePicker").setMaxDate(e.date);
                    var date = new Date(e.date.toString());
                    $('#TimeTo').val(date.getTime() / 1000);
                });
            });
        </script>
    </div>
}
<p>
    @Html.ActionLink("Editovat", "Edit", new { id = Model.DeviceId }) |
    @Html.ActionLink("Zpět na seznam", "Index") |
    @Html.ActionLink("Zobrazit na mapě", "MapActualPosition", "Gps", new { deviceId = Model.DeviceId }, null)
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}