@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@using MobileTracker.Models
@using MobileTracker.Models.Manager
@model IEnumerable<MobileTracker.Models.Db.Device>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    
@*    @Html.ActionLink("Nové zařízení", "CreateGroup", )*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imei)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imei)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @if (User.IsInRole(IdentityManager.RoleGroupAdmin))
            {
                @Html.ActionLink("Edit", "Edit", new {id = item.DeviceId}) 
            }
            @Html.ActionLink("Details", "Details", new { id=item.DeviceId })
            @if (User.IsInRole(IdentityManager.RoleGroupAdmin))
            {
                @Html.ActionLink("Delete", "Delete", new {id = item.DeviceId})
            }
        </td>
    </tr>
}

</table>
