@using MobileTracker.Models
@model MobileTracker.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Create New", "CreateUserGroup", "Account", Model, null)
</p>
<table class="table">
    <tr>
        <th>
            Uzivatelske jmeno
        </th>
        <th>
            Jmeno
        </th>
        <th>
            Prijmeni
        </th>
        <th>
            E-mail
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ApplicationUsers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Account", new { id = item.UserName }, null) |
                @Html.ActionLink("Details", "UserRoles", "Account", new { id = item.UserName }, null) |
                @Html.ActionLink("Delete", "Delete", "Account", new { id = item.UserName }, null)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
